<p>
  <mat-toolbar class="toolbar-primary">

    <a mat-icon-button routerLink="/">
      <img src="../../../assets/cloudsmith.svg" alt="VLPI logo">
    </a>

    <span class="header-span">VLPI</span>

    <span class="spacer"></span>

    <div *ngIf="!isUserLoggedIn()">
      <a mat-icon-button [routerLink]="'/login'" class="mr-10">
        Login
      </a>

      <a mat-icon-button [routerLink]="'/signup'" class="mr-10">
        Signup
      </a>
    </div>

    <div *ngIf="isUserLoggedIn()">
      <a mat-icon-button (click)="logOut()" class="mr-10">
        Logout
      </a>
      <a mat-icon-button [routerLink]="'/profile'" class="mr-10">
        <mat-icon class="profile-icon">account_circle</mat-icon>
      </a>
    </div>

  </mat-toolbar>
</p>
