<p>
  <mat-toolbar class="toolbar-primary">

    <a mat-icon-button [routerLink]="'/'">
      <img src="../../../assets/cloudsmith.svg" alt="VLPI logo">
    </a>

    <span class="header-span">VLPI</span>


    <a mat-icon-button [routerLink]="''" class="ml-20">
      About
    </a>

    <a mat-icon-button [routerLink]="''" class="ml-10">
      FAQ
    </a>

    <span class="spacer"></span>

    <div *ngIf="!isUserLoggedIn">
      <a mat-icon-button [routerLink]="'/login'" class="mr-10">
        Login
      </a>

      <a mat-icon-button [routerLink]="'/signup'" class="mr-10">
        Signup
      </a>
    </div>

    <div *ngIf="isUserLoggedIn">
      <a mat-icon-button (click)="logOut()" class="mr-20">
        Logout
      </a>
      <a mat-icon-button [routerLink]="'/profile'" class="mr-10">
        <ngx-avatar name="{{ userName }}" size="35" bgColor="#64B986"></ngx-avatar>
      </a>
    </div>

  </mat-toolbar>
</p>
