.spacer {
  flex: 1 1 auto;
}

.toolbar-primary {
  background-color: #F8F9FA;
  color: var(--primary-green);
}

.header-span {
  color: #343A40;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.profile-icon {
  transform: scale(1.7);
}
