<div class="container-fluid">

  <div class="row align-items-center">

    <div class="col-1 stats-col">
      <a mat-icon-button [routerLink]="'/'">
        <mat-icon class="back-icon">arrow_back</mat-icon>
      </a>
    </div>

    <div class="col-3 headers-col">
      <h1 class="page-header">My Profile</h1>
    </div>

  </div>

  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="container-fluid">
        <img src="../../../assets/titka.svg" class="profile-image" alt="Profile Image">
      </div>

      <div class="container-fluid mt-4">
        <button
          mat-button
          class="full-width button-primary"
          [routerLink]="'/profile'"
        >
          Edit Profile
        </button>
      </div>

      <div class="container-fluid mt-4">

        <div class="row">
          <div class="col-10 headers-col">
            <p>
              Exercises passed
            </p>
          </div>
          <div class="col-2 stats-col">
            <p>5</p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-10 headers-col">
            <p>
              Exercises attempts
            </p>
          </div>
          <div class="col-2 stats-col">
            <p>12</p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-10 headers-col">
            <p>
              Tasks passed
            </p>
          </div>
          <div class="col-2 stats-col">
            <p>0</p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-10 headers-col">
            <p>
              Correct answers
            </p>
          </div>
          <div class="col-2 stats-col">
            <p>23</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
