<div class="container-fluid mt-5">

  <div class="row align-items-center">

    <div class="col-1 stats-col">
      <a mat-icon-button [routerLink]="'/'">
        <mat-icon class="back-icon">arrow_back</mat-icon>
      </a>
    </div>

    <div class="col-3 headers-col">
      <h1 class="page-header">My Profile</h1>
    </div>

  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
        <ngx-avatar name="{{ userName }}" size="250" bgColor="#64B986"></ngx-avatar>
    </div>
  </div>

  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="container-fluid mt-4">
        <button
          mat-button
          class="full-width button-primary"
          (click)="onEditClick()"
        >
          Edit Profile
        </button>
      </div>

      <div class="container-fluid mt-4">

        <div class="row">
          <div class="col-9 headers-col">
            <p>
              Exercises Completed
            </p>
          </div>
          <div class="col-3 stats-col">
            <p>
              {{ statistics.exerciseAnswersCount }}
            </p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-9 headers-col">
            <p>
              Tasks Completed
            </p>
          </div>
          <div class="col-3 stats-col">
            <p>
              {{ statistics.taskAnswersCount }}
            </p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-9 headers-col">
            <p>
              Tasks Grade
            </p>
          </div>
          <div class="col-3 stats-col">
            <p>
              {{ statistics.solutionsToTaskAnswersRatio * 100 }}%
            </p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-9 headers-col">
            <p>
              Total Score
            </p>
          </div>
          <div class="col-3 stats-col">
            <p>
              {{ statistics.taskAnswersTotalScore }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
