.button-primary {
  background-color: var(--primary-green);
  color: var(--primary-white);
  height: 40px;
  font-size: 18px;
  font-weight: 150;
}

.full-width {
  width: 100%;
}

.profile-image {
  width: 100%;
}

.headers-col {
  text-align: left;
}

.stats-col {
  text-align: right;
}

p {
  font-size: 18px;
  font-weight: 500;
}

.back-icon {
  color: var(--primary-green);
  font-size: 40px;
}

.page-header {
  font-size: 36px;
  font-weight: 450;
}

.center {
  vertical-align: center;
}
