.button-primary {
  background-color: #64B986;
  color: #F8F9FA;
  height: 40px;
  font-size: 18px;
  font-weight: 150;
}

.full-width {
  width: 100%;
}

.profile-image {
  width: 100%;
}

.headers-col {
  text-align: left;
}

.stats-col {
  text-align: right;
}

p {
  font-size: 18px;
  font-weight: 500;
}
