<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

      <div class="container mt-5 mb-5">
        <div class="row align-items-center">
          <div class="col-5">
            <img src="../../../assets/vlpi-logo.svg" alt="VLPI logo">
          </div>
          <div class="col">
            <h1 class="logo-header">VLPI</h1>
          </div>
        </div>
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="container">

          <h1 class="form-header">Create Account</h1>

          <div class="row">

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  name="firstName"
                  matInput
                  placeholder="First Name"
                  [(ngModel)]="user.firstName"
                />
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last name</mat-label>
                <input
                  name="lastName"
                  matInput
                  placeholder="Last Name"
                  [(ngModel)]="user.lastName"
                />
              </mat-form-field>
            </div>

          </div>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              type="email"
              name="email"
              matInput
              placeholder="Email"
              [(ngModel)]="user.email"
            />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              name="password"
              matInput
              placeholder="Password"
              [(ngModel)]="user.password"
            />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password Confirmation</mat-label>
            <input
              type="password"
              name="passwordConfirmation"
              matInput
              placeholder="Password Confirmation"
              [(ngModel)]="user.passwordConfirmation"
            />
          </mat-form-field>

        </div>

        <div class="container">
          <button type="submit" mat-flat-button class="full-width button-primary">Sign up</button>
        </div>

      </form>
    </div>
  </div>
</div>
