<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

      <div class="container mt-5 mb-5">
        <div class="row align-items-center">
          <div class="col-5">
            <img src="../../../assets/vlpi-logo.svg" alt="VLPI logo">
          </div>
          <div class="col">
            <h1 class="logo-header">VLPI</h1>
          </div>
        </div>
      </div>

      <form
        (ngSubmit)="f.form.valid && onSubmit()"
        [formGroup]="user"
        novalidate
        #f="ngForm"
      >
        <div class="container">

          <h1 class="form-header">Create Account</h1>

          <div class="row">

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  required
                  matInput
                  placeholder="First Name"
                  formControlName="firstName"
                />
                <mat-hint
                  class="text-danger"
                  *ngIf="f.submitted && firstName?.invalid"
                >
                  First Name is required
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last name</mat-label>
                <input
                  required
                  matInput
                  placeholder="Last Name"
                  formControlName="lastName"
                />
                <mat-hint
                  *ngIf="f.submitted && lastName?.invalid"
                  class="text-danger"
                >
                  Last Name is required
                </mat-hint>
              </mat-form-field>
            </div>

          </div>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              email
              required
              type="email"
              matInput
              placeholder="Email"
              formControlName="email"
            />

            <mat-hint
              *ngIf="f.submitted && email?.errors?.required"
              class="text-danger"
            >
              Email is required
            </mat-hint>

            <mat-hint
              *ngIf="f.submitted && email?.errors?.email"
              class="text-danger"
            >
              Email must be a valid email address
            </mat-hint>

          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              required
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-hint
              *ngIf="f.submitted && password?.invalid"
              class="text-danger"
            >
              Password is required
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password Confirmation</mat-label>
            <input
              required
              type="password"
              matInput
              placeholder="Password Confirmation"
              formControlName="passwordConfirmation"
            />

            <mat-hint
              *ngIf="f.submitted && passwordConfirmation?.errors?.required"
              class="text-danger"
            >
              Password Confirmation is required
            </mat-hint>

            <mat-hint
              *ngIf="f.submitted && f.hasError('notSame')"
              class="text-danger"
            >
              Passwords do not match
            </mat-hint>

          </mat-form-field>

        </div>

        <div class="container">
          <button type="submit" mat-flat-button class="full-width button-primary">Sign up</button>
        </div>

      </form>
    </div>
  </div>
</div>
