.full-width {
  width: 100%;
}

.logo-header {
  font-size: 100px;
}

.form-header {
  font-size: 45px;
  font-weight: 500;
}

.button-primary {
  background-color: var(--primary-green);
  color: #F8F9FA;
  height: 40px;
  font-size: 18px;
  font-weight: 150;
}