.mt-100 {
  margin-top: 100px;
}

.exercise-name {
  padding-top: 15px;
  font-size: 28px;
  height: 40px;
  color: #64B986;
}

.exercise-description {
  font-size: 16px;
}

.headers-col {
  text-align: left;
}

.stats-col {
  text-align: right;
}

.back-icon {
  color: #64B986;
  font-size: 40px;
}

.page-header {
  font-size: 36px;
  font-weight: 450;
}
