.mt-100 {
  margin-top: 100px;
}

.exercise-name {
  padding-top: 15px;
  font-size: 28px;
  height: 40px;
  color: var(--primary-green);
}

.exercise-description {
  font-size: 16px;
}

.headers-col {
  text-align: left;
}

.stats-col {
  text-align: right;
}

.back-icon {
  color: var(--primary-green);
  font-size: 40px;
}

.page-header {
  font-size: 36px;
  font-weight: 450;
}

.table {
  min-width: 100%;
}

.table-footer {
  text-align: center;

  td {
    font-size: 24px;
    color: var(--primary-green);
  }
}
